h1{
    color: grey;
    font-style: italic;
}
h2, h3{
    color: darkred;
    font-style: italic;
}
.centername{
    text-align: center;
}
p{
    font-size: larger;
    font-style: oblique;
}
img.bild{
    width: 200px;
    border-radius: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

input  {
    width : 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  textarea{
    width : 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
 a:hover{
    background-color: deeppink;
 }
a.start{
    margin-left: 20px;
    margin-right: 20px;
}
a.insp{
    margin-left: 20px;
    margin-right: 20px;
}
a.kontakt{
    margin-left: 20px;
    margin-right: 20px;
}
